<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{layouts/admin-layout}">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Администрирование | Combat Arena</title>
    <link rel="icon" th:href="@{/resources/images/favicon.ico}">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet">
</head>

<body x-data="{ page: 'alerts', 'loaded': true, 'darkMode': true, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }"
      x-init="
          darkMode = JSON.parse(localStorage.getItem('darkMode'));
          $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
      :class="{'dark text-bodydark bg-boxdark-2': darkMode === true}">

<main layout:fragment="content">
    <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
        <!-- Breadcrumb Start -->
        <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
            <h2 class="text-title-md2 font-bold text-black dark:text-white">
                Создание новой категории
            </h2>

            <nav>
                <ol class="flex items-center gap-2">
                    <li>
                        <a class="font-medium" th:href="@{/admin/categories/administration}">Категории /</a>
                    </li>
                    <li class="font-medium text-primary">Создание новой категории</li>
                </ol>
            </nav>
        </div>
        <!-- Breadcrumb End -->
        <div class="flex flex-col gap-10">
            <div class="max-w-900px mx-auto w-full rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
                <div class="border-b border-stroke py-4 px-6.5 dark:border-strokedark">
                    <h3 class="font-medium text-black dark:text-white" style="text-align: center">
                        Создание новой категории
                    </h3>
                </div>
                <form action="#" th:action="@{/admin/categories/create-new-category}"
                      method="post"
                      class="flex flex-col gap-5.5 p-6.5">
                    <div>
                        <label for="age" class="mb-3 block text-sm font-medium text-black dark:text-white text-center">
                            Возрастная категория
                        </label>
                        <div class="relative z-20 bg-white dark:bg-form-input">
                            <select onclick="handleSelectChange(this)" th:size="${ageCategories.size()}" id="age" name="age" class="relative z-20 w-full appearance-none rounded border border-stroke bg-transparent py-3 px-12 outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input overflow-hidden">
                                <option th:each="ageCategoty : ${ageCategories}" th:value="${ageCategoty.uuid}"
                                    th:text="${ageCategoty.name + ' : ' + ageCategoty.getFromAge().toString() + '-' + ageCategoty.getToAge().toString()}">
                            </select>
                        </div>
                    </div>
                    <div>
                        <label for="weight" class="mb-3 block text-sm font-medium text-black dark:text-white text-center">
                            Весовая категория
                        </label>
                        <div class="relative z-20 bg-white dark:bg-form-input">
                            <select onchange="handleSelectChange(event)" th:size="${ageCategories.size()}" id="weight" name="weight" class="relative z-20 w-full appearance-none rounded border border-stroke bg-transparent py-3 px-12 outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input overflow-hidden">
                                <option th:each="weightCategory : ${weightCategories}" th:value="${weightCategory.uuid}"
                                        th:text="${'весовая категория ' + (weightCategory.maxCategory ? '' + weightCategory.fromWeight.intValue() + '+ кг' : weightCategory.toWeight.intValue() + ' кг')}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <label for="gender" class="mb-3 block text-sm font-medium text-black dark:text-white text-center">
                            Пол
                        </label>
                        <div class="relative z-20 bg-white dark:bg-form-input">
                            <select onchange="handleSelectChange(event)" th:size="${genders.size()}" id="gender" name="gender" class="relative z-20 w-full appearance-none rounded border border-stroke bg-transparent py-3 px-12 outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input overflow-hidden">
                                <option th:each="gender : ${genders}" th:value="${gender}"
                                    th:text="${gender.getLabel()}">
                            </select>
                        </div>
                    </div>
                    <div>
                        <label for="grade" class="mb-3 block text-sm font-medium text-black dark:text-white text-center">
                            Пояс
                        </label>
                        <div class="relative z-20 bg-white dark:bg-form-input">
                            <select onchange="handleSelectChange(event)" th:size="${grades.size()}" id="grade" name="grade" class="relative z-20 w-full appearance-none rounded border border-stroke bg-transparent py-3 px-12 outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input overflow-hidden">
                                <option th:each="grade : ${grades}" th:value="${grade}"
                                    th:text="${grade.getLabel()}">
                            </select>
                        </div>
                    </div>
                    <div>
                        <label for="grade" class="mb-3 block text-sm font-medium text-black dark:text-white text-center">
                            Тип категории
                        </label>
                        <div class="relative z-20 bg-white dark:bg-form-input">
                            <select onchange="handleSelectChange(event)" size="6" id="categoryType" name="categoryType" class="relative z-20 w-full appearance-none rounded border border-stroke bg-transparent py-3 px-12 outline-none transition focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input overflow-hidden">
                                <optgroup label="Индивидуальный">
                                    <option value="kumite">Кумитэ</option>
                                    <option value="kata">Ката</option>
                                </optgroup>
                                <optgroup label="Командный">
                                    <option value="kumite-team">Кумитэ Команда</option>
                                    <option value="kata-team">Ката Команда</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row gap-4 justify-center md:justify-start">
                        <button type="submit"
                                class="max-w-300px mx-auto w-full md:w-1/2 lg:w-auto mx-auto md:mx-0 inline-flex items-center justify-center rounded-md bg-primary py-4 px-10 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
                            Создать
                        </button>
                        <a th:href="@{/admin/categories/weight-categories}"
                           class="max-w-300px mx-auto w-full md:w-1/2 lg:w-auto mx-auto md:mx-0 inline-flex items-center justify-center rounded-md bg-meta-4 py-4 px-10 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10">
                            Назад
                        </a>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <script>
        function handleSelectChange(tt) {
            console.log(tt.value);
        }
    </script>
</main>

</body>
</html>
