<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{layouts/admin-layout}">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ошибка | Combat Arena</title>
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body x-data="{ page: 'Chart', 'loaded': true, 'darkMode': true, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }"
      x-init="
          darkMode = JSON.parse(localStorage.getItem('darkMode'));
          $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
      :class="{'dark text-bodydark bg-boxdark-2': darkMode === true}">

<main layout:fragment="content">
    <div class="row" style="margin-bottom: 50px;">
        <div class="container">
            <div class="row" id="fourth-line">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-offset-1  col-xs-offset-1">
                        <div class="text-2">
                            <h2 th:text="#{error.subtitle}">Извините, произошла ошибка.</h2>
                            <h4 style="margin-top: 20px; display:block" th:text="${exception}">Ваш запрос не может быть
                                обработан</h4>
                            <h4 style="margin-top: 20px;" th:text="${message}">сообщение об ошибке</h4>
                            <h4 style="margin-top: 50px;">Пожалуйста, свяжитесь с нами, если вы считаете, что произошла
                                ошибка.</h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
</body>
</html>