<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{layouts/admin-layout}">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ошибка | Combat Arena</title>
    <link rel="icon" th:href="@{/resources/images/favicon.ico}">
    <link th:href="@{/resources/css/style.css}" rel="stylesheet">
</head>

<body x-data="{ page: 'Chart', 'loaded': true, 'darkMode': true, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }"
      x-init="
          darkMode = JSON.parse(localStorage.getItem('darkMode'));
          $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
      :class="{'dark text-bodydark bg-boxdark-2': darkMode === true}">

<main layout:fragment="content">
    <div class="row m-auto text-2xl font-bold text-black dark:text-white sm:text-title-xl2" >
        <h2>Извините, произошла ошибка.</h2>
        <h4 style="margin-top: 20px; display:block" th:text="${exception}">Ваш запрос не может быть
            обработан</h4>
        <h4 style="margin-top: 20px;" th:text="${message}">сообщение об ошибке</h4>
        <h4 style="margin-top: 50px;">Пожалуйста, свяжитесь с нами, если вы считаете, что произошла
            ошибка.</h4>
    </div>
</main>
</body>
</html>